#############################################################
#                                                           #
# This is the Configuration file of the phaenovum Account   #
# Editor                                                    #
# Please copy this file and call it settings.ini            #
#                                                           #
#############################################################

#########################
# INSTANCE Configuration#
#########################

#instance to take
instance = 'default'

#the loginservice to take
loginservice = 'TestBackend'

########################
#  LDAP Configuration  #
########################

ldap-server = 'ip des ldapserver'

ldap-base-dn = 'dc=phaenovum, dc=eu'

ldap-use-tls = true
