<?xml version="1.0" ?>
<template>
   <attribute savetype="hashed">
      <ldapname>ldap3</ldapname>
      <widget>password</widget>
      <displayname>Passwort</displayname>
      <description>bescription</description>
   </attribute>
</template>